:root {
  --primary: #d56c06;
  --secondary: #97bf0d;
  --tertiary: #ece8da;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Aleo";
  src: url(/Typo/Aleo/Aleo-Regular.ttf);
}
@font-face {
  font-family: "Now";
  src: url(/Typo/Now/Now-Regular.otf);
}
@font-face {
  font-family: "Aleo Bold";
  src: url(/Typo/Aleo/Aleo-Bold.ttf);
}

body {
  font-family: "Aleo", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
}
