.slider-container {
  width: 70%;
  margin: 20px auto;
  background-color: transparent;
  box-sizing: border-box;
  position: relative;
}

.slick-slide {
  padding: 0 5px;
  box-sizing: border-box;
}

.slider-container img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.custom-arrow:hover {
  background: rgba(255, 255, 255, 1);
}

.next-arrow {
  right: -30px;
}

.prev-arrow {
  left: -30px;
}

@media (max-width: 1200px) {
  .custom-arrow {
    display: none;
  }

  .slider-container {
    max-width: 100%;
    width: 95%;
    padding: 0 10px;
  }
}

.desktop_displayed_img_container {
  display: flex;
  flex-direction: row;
  margin-top: 5em;
  margin-left: 25%;
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.desktop_displayed_img {
  height: 20em;
  width: 20em;
  object-fit: cover;
  border-radius: 8px;
}

.desktop_displayed_img_container article {
  margin: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
