.recette-detail {
  padding: 2rem;
  text-align: justify;
}

.img-recipe {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

.ingredient-list ul {
  list-style: none;
}

.step-list h3,
.ingredient-list h3,
.comment-list h3 {
  color: var(--secondary);
  font-weight: normal;
  font-size: 1.1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.comment-list ul {
  list-style: none;
}

.comment-list li {
  border-bottom: 1px solid #dddddd;
  padding: 1rem 0;
}

.comment-list .stars,
.rating-list .stars {
  color: #ffc800;
  font-size: 1.2rem;
}

.comment-form {
  gap: 1rem;
  margin: 2rem auto;
}

.comment-form textarea,
.comment-form select {
  padding: 0.6rem;
  font-size: 1rem;
}

.comment-form textarea::placeholder {
  font-family: Aleo, sans-serif;
  font-size: 0.85rem;
  color: #999;
  opacity: 1;
}

.comment-form button {
  padding: 0.6rem;
  font-size: 1rem;
  background-color: var(--secondary);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.message-to-connect {
  color: var(--primary);
  font-weight: bold;
  margin-top: 1em;
}

.favorite-actions {
  margin-top: 1rem;
}

.favorite-actions button {
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
  border-color: var(--secondary);
  outline: none;
}

@media screen and (min-width: 1200px) {
  .recipe-ing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    grid-column-gap: 5rem;
    grid-row-gap: 2rem;
  }

  .ingredient-list {
    margin-top: 7em;
  }

  .ingredient-list h3,
  .step-list h3,
  .comment-list h3 {
    color: var(--primary);
  }

  .recipe-info h1 {
    font-size: 2rem;
    color: var(--secondary);
    font-weight: normal;
    font-family: Aleo, sans-serif;
  }

  .img-recipe {
    max-width: 800px;
    max-height: 500px;
    object-fit: cover;
  }

  .step-list ol {
    list-style-position: inside;
  }

  .comment-place {
    grid-column: 1;
    grid-row: 3;
  }
}
